.headercolor{
    background: transparent;
 
}
.navbar-toggler {
    color: transparent;
    border-color: rgba(255,255,255,.1);
}

@media(min-width: 1090px){
.paginasheader{
    display: flex;
    justify-content: flex-end;
}
}
@media(max-width: 1090px){
    .navbar-light .navbar-toggler{
     
        border: none
        }
    .paginasheader{
        font-style: white;
        display: flex;
        justify-content: flex-start;
    }
    
    }